@page "/"
@attribute [Authorize]
@inherits ApplicationComponentBase

<PageTitle>МО</PageTitle>

<h1><RadzenIcon Icon="list" style="margin-right: 5px;" /> Список проектов</h1>

@if (projects == null)
{
    <p><em>Загрузка...</em></p>
}
else if (!projects.Any())
{
    <RadzenAlert AlertStyle="AlertStyle.Warning" Style="margin-bottom: 20px;">
        <strong>Внимание!</strong> Нет доступных проектов.
    </RadzenAlert>
}
else
{
    <RadzenDataGrid @ref="grid" Data="@projects" TItem="Project" AllowAlternatingRows="false" AllowFiltering="true" AllowSorting="true" 
                    AllowVirtualization="true"
                    AllowColumnResize="true"
                    AllowGrouping="false" 
                    EditMode="DataGridEditMode.Single"
                    RowUpdate="@OnUpdateRow"
                    Sort="@(args => Reset())" Page="@(args => Reset())" Filter="@(args => Reset())"
                    ColumnWidth="200px" CellClick="@OnCellClick"
                    Style="height:100vh">
        <Columns>
            <RadzenDataGridColumn TItem="Project" Property="@nameof(Project.ProjectName)" Title="Имя проекта" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.ProjectName)" />
                </Template>
                <EditTemplate Context="project">
                    <RadzenTextBox @ref="editor" Change="@(args => Update())" @bind-Value="project.ProjectName" Style="width:100%; display: block" Name="ProjectName" aria-label="Введите имя проекта" />
                    <RadzenRequiredValidator Text="ProjectName is required" Component="ProjectName" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
        
    </RadzenDataGrid>
}
