@page "/"
@attribute [Authorize]
@inherits ApplicationComponentBase

<PageTitle>МО</PageTitle>

<h1><RadzenIcon Icon="list" style="margin-right: 5px;" /> Список проектов</h1>

@if (projects == null)
{
    <p><em>Загрузка...</em></p>
}
else if (!projects.Any())
{
    <RadzenAlert AlertStyle="AlertStyle.Warning" Style="margin-bottom: 20px;">
        <strong>Внимание!</strong> Нет доступных проектов.
    </RadzenAlert>
}
else
{
    <RadzenDataGrid @ref="grid" Data="@projects" TItem="ProjectDTO" AllowAlternatingRows="true" AllowFiltering="true" AllowSorting="true"
                    AllowVirtualization="true"
                    AllowColumnResize="true"
                    AllowGrouping="false"
                    GridLines="DataGridGridLines.Both"
                    Density="Density.Compact"
                    RowUpdate="@OnUpdateRow"
                    CellDoubleClick="@OnCellDblClick"
                    ColumnWidth="200px"
                    Style="height:80vh">
        <Columns>
            <RadzenDataGridColumn TItem="ProjectDTO" Property="@(nameof(ProjectDTO.ProjectName))" Title="Имя проекта" Width="200px" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.ProjectName)" />
                </Template>
                <EditTemplate Context="project">
                    <RadzenTextBox @ref="editor"
                                   @onkeydown="@(args=> KeyPressed(args))"
                                   @bind-Value="project.ProjectName"
                                   @oninput="@(e => project.ProjectName = e.Value?.ToString() ?? "")"
                                   Style="width:100%;display: block"
                                   Name="@(nameof(ProjectDTO.ProjectName))" />
                    <RadzenRequiredValidator Text="Имя проекта обязательно" Component="@(nameof(ProjectDTO.ProjectName))" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProjectDTO" Property="@(nameof(ProjectDTO.AB))" Title="Архитектурное бюро" Width="80px" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.AB)" />
                </Template>
                <EditTemplate Context="project">
                    <RadzenTextBox @ref="editor"
                                   @onkeydown="@(args=> KeyPressed(args))"
                                   @bind-Value="project.AB"
                                   @oninput="@(e => project.AB = e.Value?.ToString() ?? "")"
                                   Style="width:100%;display: block"
                                   Name="@(nameof(ProjectDTO.AB))" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProjectDTO" Property="@(nameof(ProjectDTO.GIP.Login))" Title="ГИП" Width="80px" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.GIP.Login)" />
                </Template>
                <EditTemplate Context="project">
                    <span @onkeydown="@(args=> KeyPressed(args))">
                        <RadzenDropDown @ref="@editor" TValue="UserDTO"
                                        @bind-Value="@project.GIP"
                                        AllowClear="@true"
                                        AllowFiltering="@true"
                                        AllowVirtualization="@true"
                                        Data="@users"
                                        TextProperty="@nameof(UserDTO.Login)" />
                    </span>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProjectDTO" Property="@(nameof(ProjectDTO.GPZUDate))" Title="ГПЗУ" Width="150px" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.GPZUDate == null ? "-" : project.GPZUDate.Value.ToLocalTime().ToString("yyyy.MM.dd"))" />
                </Template>
                <EditTemplate Context="project">
                    <RadzenDatePicker DateFormat="yyyy.MM.dd"
                                      @ref="@editor"
                                      @onkeydown="@(args=> KeyPressed(args))"
                                      @bind-Value="@project.GPZUDate"
                                      Style="width:100%;display: block" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProjectDTO" Property="@(nameof(ProjectDTO.TotalArea))" Title="ГПЗУ" Width="150px" IsInEditMode="@IsEditing">
                <Template Context="project">
                    <RadzenText Text="@(project.TotalArea?.ToString("N0"))" />
                </Template>
                <EditTemplate Context="project">
                    <RadzenNumeric @ref="@editor"
                                   @onkeydown="@(args=> KeyPressed(args))"
                                   @bind-Value="@project.TotalArea"
                                   @oninput="@(e => 
                                   {
                                       if(double.TryParse(e.Value?.ToString(), out var v))
                                         {  project.TotalArea = v;}
                                         else{project.TotalArea =0;}
                                   })"
                                   Style="width:100%;display: block" />
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>
}
